<div class="container">
    <div class="wrapper_outside">
        <div class="app_title">
                <h1>Work progress</h1>
            </div>
            <div class="corporation_name">
                <h2>馬場電気株式会社</h2>
            </div>
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="/">Home</a></li>
              <li role="presentation"><a href="#">出勤</a></li>
              <li role="presentation"><a href="#">現場</a></li>
              <li role="presentation"><a href="#">移動</a></li>
              <li role="presentation"><a href="#">休憩</a></li>
              <li role="presentation"><a href="#">日報</a></li>
              <li role="presentation"><a href="#">退勤</a></li>
              <li role="presentation"><a href="#">予定</a></li>
            </ul>
            <div class="corporation_name">
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li><a href="admin">各種データベース一覧</a></li>
                  <li class="active">社員データベース</li>
                </ol>
            </div>

<h3>新規社員登録フォーム</h3>
<%= form_tag("/employees/"+@employee.id.to_s,:method=>:patch) do %>
    <div class="form-group">
        <%= label_tag "form-password", "パスワード" %>
        <%= text_field :employees, :password, id:"form-password", class:"form-control",value: @employee.password%>
    </div>
    <div class="form-group">
        <%= label_tag "form-name", "氏名" %>
        <%= text_field :employees, :name, id:"form-name", class:"form-control",value: @employee.name%>
    </div>
    <div class="form-group">
        <%= label_tag "form-address", "住所" %>
        <%= text_field :employees, :address, id:"form-address", class:"form-control",value: @employee.address%>
    </div>
    <div class="form-group">
        <%= label_tag "form-blood_type", "血液型" %>
        <%= text_field :employees, :blood_type, id:"form-blood_type", class:"form-control",value: @employee.blood_type%>
    </div>
    <div class="form-group">
        <%= label_tag "form-sex", "性別" %>
        <%= text_field :employees, :sex, id:"form-password", class:"form-control",value: @employee.sex%>
    </div>
    <div class="form-group">
        <%= label_tag "form-birthday", "生年月日" %>
        <%= text_field :employees, :birthday, id:"form-password", class:"form-control",value: @employee.birthday%>
    </div>
    <div class="form-group">
        <%= label_tag "form-emergency_contact", "緊急連絡先" %>
        <%= text_field :employees, :emergency_contact, id:"form-password", class:"form-control",value: @employee.emergency_contact%>
    </div>
    <div class="form-group">
        <%= label_tag "form-cellphone_number", "携帯番号" %>
        <%= text_field :employees, :cellphone_number, id:"form-password", class:"form-control",value: @employee.cellphone_number%>
    </div>
    <div class="form-group">
        <%= label_tag "form-photo_url", "証明写真" %>
        <%= text_field :employees, :photo_url, id:"form-password", class:"form-control",value: @employee.photo_url%>
    </div>
        <div class="form-group">
        <%= label_tag "form-line_id", "LINEのID" %>
        <%= text_field :employees, :line_id, id:"form-password", class:"form-control",value: @employee.line_id%>
    </div>
    <%= submit_tag "登録する", class:"btn btn-primary"%>
<% end %> 
</div>