




<div class="container">
    <h3>employeeリスト（employeeでのトップページ）</h3>
    <div class="wrapper_outside">
        <div class="app_title">
                <h1>Work progress</h1>
            </div>
            <div class="corporation_name">
                <h2>馬場電気株式会社</h2>
            </div>
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="/">Home</a></li>
              <li role="presentation"><a href="#">出勤</a></li>
              <li role="presentation"><a href="#">現場</a></li>
              <li role="presentation"><a href="#">移動</a></li>
              <li role="presentation"><a href="#">休憩</a></li>
              <li role="presentation"><a href="#">日報</a></li>
              <li role="presentation"><a href="#">退勤</a></li>
              <li role="presentation"><a href="#">予定</a></li>
            </ul>
            <div class="corporation_name">
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li><a href="admin">各種データベース一覧</a></li>
                  <li class="active">社員データベース</li>
                </ol>
            </div>
            <div class="btn_position">
                <a href=" employees_new" class="btn btn-primary">新規社員登録</a>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        
                        <th>パスワード</th>
                        <th>氏名</th>
                        <th>住所</th>
                        <th>血液型</th>
                        <th>性別</th>
                        <th>生年月日</th>
                        <th>緊急連絡先</th>
                        <th>携帯番号</th>
                        <th>証明写真</th>
                        <th>LINEのID</th>
                        <th></th>
                    </tr>
                </thead>
                    <% @employees.each do |employee| %>
                        <tr>
                            <td><%= employee.password%></td>
                            <td><%= employee.name%></td>
                            <td><%= employee.address%></td>
                            <td><%= employee.blood_type%></td>
                            <td><%= employee.sex%></td>
                            <td><%= employee.birthday%></td>
                            <td><%= employee.emergency_contact%></td>
                            <td><%= employee.cellphone_number%></td>
                            <td><%= employee.photo_url%></td>
                            <td><%= employee.line_id%></td>
                            <td><a href="/employees/<%=employee.id%>" data-method="delete">削除</a></td>
                        </tr>
                        
                    <% end%>
            </table>
    </div>
    <div class="btn_position">
        <a href=" employees_new" class="btn btn-primary">新規社員登録</a>
    </div>

</div>