<div class="container">
<div class="container">
    <h3>employeeリスト（employeeでのトップページ）</h3>
    <div class="wrapper_outside">
        <div class="app_title">
                <h1>Work progress</h1>
            </div>
            <div class="corporation_name">
                <h2>馬場電気株式会社</h2>
            </div>
            <ul class="nav nav-tabs">
              <li role="presentation" class="active"><a href="/">Home</a></li>
              <li role="presentation"><a href="#">出勤</a></li>
              <li role="presentation"><a href="#">現場</a></li>
              <li role="presentation"><a href="#">移動</a></li>
              <li role="presentation"><a href="#">休憩</a></li>
              <li role="presentation"><a href="#">日報</a></li>
              <li role="presentation"><a href="#">退勤</a></li>
              <li role="presentation"><a href="#">予定</a></li>
            </ul>
            <div class="corporation_name">
                <ol class="breadcrumb">
                  <li><a href="/">Home</a></li>
                  <li><a href="admin">各種データベース一覧</a></li>
                  <li class="active">社員データベース</li>
                </ol>
            </div>

<h3>新規社員登録フォーム</h3>
<%= form_tag("/employees_create") do %>
    <div class="form-group">
        <%= label_tag "form-password", "パスワード" %>
        <%= text_field :employees, :password, id:"form-password", class:"form-control", placeholder: "ここに入力するパスワードは予めメモをしておいてください"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-name", "氏名" %>
        <%= text_field :employees, :name, id:"form-name", class:"form-control", placeholder: "あなたの氏名を入力してください"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-address", "住所" %>
        <%= text_field :employees, :address, id:"form-address", class:"form-control", placeholder: "あなたの住所を入力してください"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-blood_type", "血液型" %>
        <%= text_field :employees, :blood_type, id:"form-blood_type", class:"form-control", placeholder: "あなたの血液型（rh＋/ー）を入力してください.記入例（A+/AB-など)"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-sex", "性別" %>
        <%= text_field :employees, :sex, id:"form-password", class:"form-control", placeholder: "あなたの性別を入力してください"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-birthday", "生年月日" %>
        <%= text_field :employees, :birthday, id:"form-password", class:"form-control", placeholder: "あなたの生年月日を半角入力してください.記入例（1990-11-11）"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-emergency_contact", "緊急連絡先" %>
        <%= text_field :employees, :emergency_contact, id:"form-password", class:"form-control", placeholder: "あなたの緊急連絡先を入力してください"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-cellphone_number", "携帯番号" %>
        <%= text_field :employees, :cellphone_number, id:"form-password", class:"form-control", placeholder: "あなたの携帯番号を入力してください"%>
    </div>
    <div class="form-group">
        <%= label_tag "form-photo_url", "証明写真" %>
        <%= text_field :employees, :photo_url, id:"form-password", class:"form-control", placeholder: "あなたの写真のURLを入力してください"%>
    </div>
        <div class="form-group">
        <%= label_tag "form-line_id", "LINEのID" %>
        <%= text_field :employees, :line_id, id:"form-password", class:"form-control", placeholder: "あなたのLINE-IDを入力してください"%>
    </div>
    <%= submit_tag "登録する", class:"btn btn-primary"%>
<% end %> 
</div>